* {
  margin-top: 0;
  font-family: 'Exo 2'; /* Google font */
  font-weight: 300;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Source Sans Pro', source-sans-pro, pt sans, calibri, sans-serif;
  color: #A1AAA9;
  background-color: #383736;
}
p { 
  margin-top: 15px;
  margin-bottom: 15px;
}
header {
  width: 96%;
  background-color: #222220;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 1px solid #444;
}

header h1 {
  padding-top: 16px;
  line-height: 70px;
  
  font-size: 2.5em;
}

aside {
	float: left;
	position: absolute;
	left: 2px;
}
#logo { 
  height: 115px;
  margin-top: 2px
}
.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}


.flexible {
  display:-webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.flexible-item {
    flex-grow: 1
}
nav {
  padding: 3px 0 3px 0;
}

nav ul {
  list-style-type: none;
  margin: 15px 4px 0 -15px;
}

nav li {
  margin: 2px;
  -webkit-transition: width 2s;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
  border-radius: 3px;
  
}

.flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.box {
  box-sizing: border-box;
  padding: 10px;
  margin: 3px;
  background: rgba(0,0,0,0.5);
  width: 30vw;
  color: #ddd;
  text-align: center;
}

.ucase {
  text-transform: uppercase;
}

.skewed-box {
  width: 120px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  -webkit-transform: skew(-8deg);
  -moz-transform: skew(-8deg);
  -o-transform: skew(-8deg);
}

.bg-green {
  background: #030;
}

.bg-green:hover {
  background: #070;
}

.bg-red {
  background: #300;
}

.bg-red:hover {
  background: #700;
}

.bg-grey {
  background: #444;
}

.bg-grey:hover {
  background: #777;
}

.skewed-box:hover {
  color: white;
}

.smaller-image {
  width: 85px;
  margin: 0 auto;
  border-radius: 50%;
}

.width250 {
  width: 250px;
}